{% extends 'base.html.twig' %}

{% block title %}Liste des participants {% endblock %}

{% block body %}
    <h1>Voici les participants à la soirée</h1>
    <ul>
        <li>
            <a href="{{ path("participant_ajouter") }}">Ajouter des Participants</a>
        </li>
    </ul>


{% endblock %}