{% extends 'base.html.twig' %}

{% block title %} Modifier un participant {% endblock %}

{% block body %}
    <h1>Modifier un participant</h1>
    {{ form(formulaire) }}
    <a class="btn btn-danger" href="{{ path ("participant") }}">&lt; Annuler</a>
{% endblock %}